
.repository-list-title {
    font-size: 28px;
    margin-bottom: 16px;
    text-align: center; 
  }
  
  .repository-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .repository-item {
    margin-bottom: 16px;
  }
  
  .repository-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .repository-link:hover {
    color: red;
  }
  
  .star-rating {
    color: goldenrod;
    margin-left: 4px;
  }
  